.clock {
  position: relative;
  left: 40%;
}

@media (max-width: 768px) {
  .clock {
    position: relative;
    left: 33%;
  }
}

@media (min-width: 1024px) {
  .clock {
    position: relative;
    left: 45%;
  }
}
